version: '3.9'

services:

  camunda:
    image: camunda/camunda-bpm-platform:run-latest
    container_name: camunda
    hostname: camundahost
    ports:
      - '8080:8080'
    networks:
      - {{ demo_network_name }}
    restart: always

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    hostname: portainerhost
    command: -H unix:///var/run/docker.sock
    ports:
      - '9000:9000'
    networks:
      - {{ demo_network_name }}
    volumes:
      - portainer_data:/data
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    restart: always

networks:
  {{ demo_network_name }}:
volumes:
  portainer_data:
